body {
background-color:white;
text-align: center;
}

td
{
text-align:left;
padding:8px
}


table
{
	margin-left: auto;
	margin-right: auto;
}

.pretty-table {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 50%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
	margin-top: 32px;
	margin-bottom: 32px;
}
.pretty-table td, .pretty-table th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
.pretty-table th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
.pretty-table td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}

.pretty-table tr:nth-child(even) {
background: #F2F2F2;
}

tr.critical {
background: #F2B2B2 !important;
}

tr.warn {
background: #FFFFB9 !important;
}
