tr.critical {
background: #F2B2B2 !important;
}

tr.warn {
background: #FFFFB9 !important;
}

div.dark-text * {
color: #000;
}

div.critical {
    background: #F2B2B2 !important;
}

.c3-region.red {
    fill: #cc0000;
}

.c3-region.yellow {
    fill: #cc7a00;
}

.c3-region.blue {
    fill: #0099cc;
}

.c3-grid text {
	fill: #777 !important;
}

.c3-grid line {
    stroke: #777 !important;
}

.c3-region.cybex-age1 {
	fill: #ffffb2;
}

.c3-region.cybex-age2 {
	fill: #fecc5c;
}

.c3-region.cybex-age3 {
	fill: #fd8d3c;
}

.c3-region.cybex-age4 {
	fill: #f03b20;
}

.c3-region.cybex-age5 {
	fill: #bd0026;
}

.c3-region.cybex-age6 {
    fill: #000000;
}

.row.full {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: auto;
}

.outlined {
    border-radius: 25px;
    border: 2px solid #cccccc;
}

div.indent {
  padding-left: 5rem !important;
}

div.vuln-critical {
  color: #ff3000 !important;
  text-decoration: blink;
}

div.vuln-high {
  color: #fc6b00 !important;
}

div.vuln-medium {
  color: #ffc600 !important;
}

div.vuln-low {
  color: #009f99 !important;
}

div.status div {
  font-family: "univers";
  font-size: 3em;
  color: #fff;
  border-radius: 0px;
  border: 2px none #647076;
  border-bottom-style: solid;
  padding: 0px 0px 0px 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(to bottom, #202020 0%,#000000 5%,#000000 50%,#161616 50%,#161616 95%,#000000 100%);
}

div.right-border {
  border-radius: 0px;
  border: 2px none #647076;
  border-right-style: solid;
}

div.small-header {
  color: #647076 !important;
  font-size: 1.5em !important;
  padding-top: 1rem !important;
  text-align: center;
  border-right-style: none; 
  background: none !important;
}

@media only screen and (max-width: 800px) {
  div.status div {
    font-size: 1.5em;
  }
  div.small-header {
    font-size: 0.75em !important;
  }
  div.right-border {
    border-right-style: none;
  }
}

@media only screen and (max-width: 500px) {
  div.status div {
    font-size: 1.0em;
  }
  div.small-header {
    font-size: 0.50em !important;
  }
  div.right-border {
    border-right-style: none;
  }
}