{% extends "base_template.html" %}
{% block title %}Active Map{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/d3/d3.hexbin.v0.min.js"></script>
    <script src="/static/js/d3/queue.v1.min.js"></script>
    <script src="/static/js/d3/topojson.v1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/map-light.css">
    <link rel="stylesheet" type="text/css" href="static/css/map-dark.css">
{% endblock %}
{% block body %}
    <div class="row full">
        <div class="large-12 columns">
            <h1 class="title">Cyber Hygiene: Active U.S. Vulnerabilities</h1>
        </div>
    </div>
    <div class="row full">
        <div class="small-3 small-centered columns">
            <dl class="sub-nav">
                <dt>Severity:</dt>
                <dd id="dd-all"><a href="javascript:change_view_mode(0)">All</a></dd>
                <dd id="dd-low"><a href="javascript:change_view_mode(1)">Low</a></dd>
                <dd id="dd-medium"><a href="javascript:change_view_mode(2)">Medium</a></dd>
                <dd id="dd-high"><a href="javascript:change_view_mode(3)">High</a></dd>
                <dd id="dd-critical"><a href="javascript:change_view_mode(4)">Critical</a></dd>
                <dd><a href="javascript:change_view_mode(-1)"><i class="fi-refresh"></i></a></dd>
            </dl>
        </div>
    </div>
    <div class="row full">
        <div class="large-12 columns">
            <svg width="100%" viewBox="-100 0 2100 2000" id="map" perserveAspectRatio="xMinYMid"/>
        </div>
    </div>
    <script>

    var severity_loop = [];

    var width = 1920,
        height = 1080,
        parseDate = d3.time.format("%x").parse;

    var color = d3.scale.linear()
        .domain([1,2,3,4])
        .range(["#5c90ba", "#cfc666", "#cf9c66", "#c66270"])

    var hexbin = d3.hexbin()
        .size([width, height])
        .radius(24);

    var radius = d3.scale.sqrt()
        .domain([0, 12])
        .range([0, 8]);

    var projection = d3.geo.albersUsa()
        .scale(2000)
        .translate([width / 2, height / 2])
        .precision(.1);

    var path = d3.geo.path()
        .projection(projection);

    var svg = d3.select("#map");
        
    function change_view_mode(severity){
        update_filter(severity);
        switch(severity)
        {
            case -1:
                severity_loop = [1, 2, 3, 4];
                break;
            case 0:
                severity_loop = [0];
                break;
            case 1:
                severity_loop = [1];
                break;
            case 2:
                severity_loop = [2];
                break;
            case 3:
                severity_loop = [3];
                break;
            case 4:
                severity_loop = [4];
                break;
        }
    }
    
    function update_filter(severity) {
        // fetch new data
        d3.json("?j&level=" + severity, update_hexes);
        // activate corresponding filter item
        document.getElementById("dd-critical").className = (severity == 4 ? "active" : "");
        document.getElementById("dd-high").className = (severity == 3 ? "active" : "");
        document.getElementById("dd-medium").className = (severity == 2 ? "active" : "");
        document.getElementById("dd-low").className = (severity == 1 ? "active" : "");
        document.getElementById("dd-all").className = (severity == 0 ? "active" : "");
    }

    queue()
        .defer(d3.json, "static/topo/us.json")
        //.defer(d3.json, "../json/severity")
        .await(topo_ready);

    function topo_ready(error, us) {
        svg.append("path")
            .datum(topojson.feature(us, us.objects.land))
            .attr("class", "land")
            .attr("d", path);

        svg.append("path")
            .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
            .attr("class", "states")
            .attr("d", path);
    
        change_view_mode(-1);
        setInterval(
            function()
            {
                next_update();
            }, 15000
        );    
    }

    function next_update(){
        severity = severity_loop.shift();
        severity_loop.push(severity);
        d3.json("?j&level=" + severity, update_hexes);
        update_filter(severity);
    }

    function update_hexes(error, tickets) {
      var projected_tickets = [];
      tickets.forEach(function(d) {
        var p = projection(d.loc);
        if (p != null)
        { 
            projected_tickets.push({0:p[0],1:p[1],"severity":d.details.severity})
        }
      });
      tickets = projected_tickets

      // Want to understand what is going on below?: http://bl.ocks.org/mbostock/3808218
      // DATA JOIN
      var node = svg.selectAll(".hexagons")
          .data(hexbin(tickets).sort(function(a, b) { return b.length - a.length; }))

      // UPDATE
      // Update old elements as needed.

      // noop

      // ENTER
      // Create new elements as needed.
      enters = node.enter().append("g")
          .attr("class", "hexagons")
          .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
        
      enters.append("path")
          .attr("d", function(d) { return hexbin.hexagon(); })
          .style("fill-opacity", 0)
          .transition()
            .duration(750)
            .style("fill-opacity", 1)
        
      enters.append("text")
          .attr("text-anchor", "middle")
          .attr("dy", ".35em")

      // ENTER + UPDATE
      // Appending to the enter selection expands the update selection to include
      // entering elements; so, operations on the update selection after appending to
      // the enter selection will apply to both entering and updating nodes.

      // set text and color of hex
      node.select("path")
        .style("fill", function(d) { return color(d3.median(d, function(d) { return +d.severity; })); })
    
      node.select("text")
        .text(function(d) { return d.length; })
        .style("font-size", function(d) { 
            if (d.length < 100) return 20;
            if (d.length < 1000) return 16;
            return 14;
        })
      
      // EXIT
      // Remove old elements as needed.
      node.exit()
        .transition()
          .duration(750)
          .style("opacity", 0)
        .remove();
  
    }

    </script>
{% endblock %}